<div class="d-md-inline-flex card border-primary mb-3" id="book-id-<%=book.id%>" style="max-width: 20rem; min-width: 20rem">
   <%= render partial: 'books/card_content', locals: {book: book} %>
 </div>