<%= bootstrap_form_with model: @book, url: books_path, remote: true do |form| %>
  <p>
    <%= form.text_area :title%>
  </p>

  <p>
    <%= form.text_area :author%>
  </p>

  <%= form.submit class: "btn btn-primary"%>
<% end %>