<div class="my-row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <p></p>
    <h1>Books</h1>
    <p></p>
    <div id="new-book">
      <%= button_to 'Create post', new_book_path, method: :get, class: "btn btn-primary", remote: true %>
    </div>
    <p></p>
    <%= render partial: 'books/book', collection: @books %>
  </div>
</div>