<div class="my-row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <p></p>
    <h1>Books</h1>
    <p></p>
    <div id="new-book">
      <%= render partial: 'books/create_button'%>
    </div>
    <p></p>
    <div id="books-list">
      <%= render partial: 'books/book', collection: @books %>
    </div>
  </div>
</div>